#input_note {
  visibility: visible;
}

#note_links {
  visibility: visible;
}

#full_note {
  visibility: hidden;
}

#listed_notes {
  list-style: none;
}

.link {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
}

.link:hover {
  text-decoration: underline;
  color: DarkBlue;
}
