body {
  background-image: url("http://sike.news.cn/hot/qazt2015/QA_kwb/img/bg2.jpg");
  background-size: cover;
  opacity: 0.9;
}

#input_note {
  width: 30%;
  display: block;
  margin: 0 auto;
}

#note_links {
  display: block;
}

#full_note {
  width: 300px;
  display: none;
  font-size: 20px;
  color: black;
  text-align: left;
}

#listed_notes {
  list-style: none;
  font-size: 25px;
}

.container {
  text-align: center;
  margin-top: 80px;
}

#note {
  width: 100%;
  margin-bottom: 10px;
}

#note, #create_note {
  display: block;
}

.link {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
}

.link:hover {
  text-decoration: underline;
  color: DarkBlue;
}
