body {
  background-image: url("http://sike.news.cn/hot/qazt2015/QA_kwb/img/bg2.jpg");
  background-size: cover;
  opacity: 0.9;
}

#input_note {
  display: inline-block;
  visibility: visible;
}

#note_links {
  visibility: visible;
}

#full_note {
  visibility: hidden;
}

#listed_notes {
  list-style: none;
}

.header {
  height: 45px;
  background-color: LightBlue;
  margin-bottom: 30px;
}

#top {
    text-align: center;
}

.glyphicon glyphicon-book {
  position: relative;
  left: 5%;
}

#title {
  display: inline-block;
  font-size: 30px;
}

.container {
  text-align: center;
}



.link {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
}

.link:hover {
  text-decoration: underline;
  color: DarkBlue;
}
